---
import { site, nav } from "../config/site";
import ThemeToggle from "./ThemeToggle.astro";
---
<header class="page">
  <div class="top">
    <a class="name" href="/">{site.brand}</a>
    <nav>
      {nav.map((n) => <a href={n.href}>{n.label}</a>)}
      <ThemeToggle />
    </nav>
  </div>
</header>
